@font-face {
	font-family:Anurati;
	src: url('fonts/Anurati.woff');
}

h1 {
	font-family: Anurati;
	color: white;
	margin-left: 20px;}
  h2 {
	font-family: Anurati;
	color: white;
	margin-left: 20px;}
  h3 {
	font-family: Anurati;
	color: white;
	margin-left: 20px;}
  h4 {
	font-family: Anurati;
	color: white;
	margin-left: 20px;}
  h5 {
	font-family: Anurati;
	color: white;
	margin-left: 20px;}
  h6 {
	font-family: Anurati;
	color: white;
	margin-left: 20px;}
  p {
	color: white;
	margin-left: 20px;}

:root {
	--background-color: #000000;
	--foreground-color: #ffffff;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #ffffff;
		--foreground-color: #000000;
	}
}

html {
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
}

.button{
	width: 10em;
	height: 5ex;
	background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
	border: none;
	border-radius: 5px;
	font-weight: bold;
	color: white;
	cursor: pointer;
  }
  
  .button:hover {
	box-shadow: 2px 2px 5px #fc894d;
  }

